<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

 
    <div fxFlex="40" *ngIf ="dish">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src ={{dish.image}} alt={{dish.name}}>
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink] ="['/dishdetail', prev]" >
                        <span class="fa fa-chevron-left fa-lg"></span></button>
                       
                        <button mat-button (click) ="goBack()">Back</button>
                    <button mat-button>Like</button>
                    <button mat-button>Share</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink] ="['/dishdetail', next]" >
                        <span class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
 

  <div fxFlex="40" *ngIf ="dish">
    
        <mat-list *ngFor="let comment of dish.comments">
            <mat-list-item> {{comment.comment}} </mat-list-item>
            <mat-list-item> {{comment.rating}} Stars </mat-list-item>
            <mat-list-item> -- {{comment.author}} {{comment.date | date}} </mat-list-item>
         </mat-list>
     
            <!-- <form [formGroup] = "profileForm" (ngSubmit) ="onSubmit()">
                <input type="text" formControlName="firstName">
                <input type="text" formControlName="lastName">
                <button type="submit" 
                [disabled] ="!profileForm.valid">Submit</button>
            </form> -->

            <form [formGroup] = "altceva">
                <input type="text" formControlName="prop1">
                <div formArrayName="aliases"  >
                    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
                  
                    <div *ngFor="let alias of aliases.controls; let i=index">
                      <!-- The repeated alias template -->
                      <label>
                        Alias:
                        <input type="text" [formControlName]="i">
                      </label>
                    </div>
                  </div>
                 
            </form>
            <p>
                Value: {{altceva.value | json}}
                
            </p>
            <!-- <p>
                <button (click) = "updateName()">Update Name</button>
            </p> -->
      
      
  
  </div>
  

  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading. Please wait!</h4>
</div>

</div>